@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  position: relative;
}

.link::before {
  font-weight: bold;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(182, 106, 255, 1) 0%,
    rgba(70, 90, 241, 1) 100%
  );

  transition: 0.3s all;
}
.active-link {
  font-weight: bold;
}

.active-link::before,
.link:hover::before {
  width: 100%;
}
