@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  position: relative;
}

.link:hover {
  opacity: 1;
}

.link::before {
  font-weight: bold;
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(182, 106, 255, 1) 0%,
    rgba(70, 90, 241, 1) 100%
  );

  transition: 0.3s all;
}
.active-link {
  font-weight: bold;
  opacity: 1;
}

.active-link::before,
.link:hover::before {
  width: 100%;
}

.text-gradient {
  color: transparent;
  background: linear-gradient(to right, #b66aff, #465af1);
  -webkit-background-clip: text;
  background-clip: text;
}

.background-gradient {
  background: linear-gradient(to right, #b66aff, #465af1);
}

.post * {
  @apply mt-5;
}

.post ul li {
  margin: 0;
}

.post li::before {
  @apply text-medium-purple;
  content: "•";
  font-weight: bold;
  display: inline-block;
  margin-right: 7.5px;
}

.post h2 {
  @apply text-2xl;
}

.post h3 {
  @apply text-xl;
}

.post a {
  @apply text-gradient underline;
}

.post pre {
  @apply bg-medium-purple p-6 rounded-b;
}

.post code {
  @apply text-white bg-medium-purple p-2;
}

.post pre code {
  @apply p-0;
}

.post blockquote {
  @apply pl-4 border-solid border-l-8 border-medium-purple;
}
